
{% extends 'html/base.html' %}

{% block content %} 

<div class="about-me">
    <h3> About Me </h3> <hr>
    <strong class="about-me-text"> 
        This is MD. EMANUR RAHAMAN, I have completed my graduations in Statistics from 
        <em id='about-me-varsity'> SHAJALAL UNIVERSITY OF SCIENCE AND TECHNOLOGY (SUST), SYLHET, BANGLADESH.</em>
        Basically I love programing and problem solving and I'm passionate about it.
    </strong>
</div>

{% endblock %}






<!-- <a href="/home"> Home </a>-->

