


{% extends 'html/base.html' %}

{% block content %} 

<div class="education">
    <h2> Education </h2> <hr>
    <div class='education-varsity'>
        <p class="education-text"> 
            <h4> 
                {{ objects.varsity | upper }} 
            </h4>
            <i>
                BACHELOR OF SCIENCE
            </i> <br>
            <b> STATISTICS</b> <br>
            <span> CGPA: {{objects.cgpa }} </span>
        </p>
    </div> <br>

    <div class='education-college'>
        <p class="education-text"> 
            <h4> 
                GAIBANDHA GOVERNMENT COLLEGE, RANGPUR, BANGLADESH.
            </h4>
            <i>
                GROUP OF SCIENCE
            </i> <br>
            <span> GPA: 4.42 </span>
        </p>
    </div>

</div>

{% endblock %}






<!-- <a href="/home"> Home </a>-->

