

{% extends 'html/base.html' %}

{% block content %}
<div class="home">
    <div class="home-text">
        <p> <h3> Hello, It's Me </h3> </p>
        <p> <h1> Emon Hasan </h1> </p>
        <p> <h4> And I'm a Backend Developer </h4> </p> <br>
    </div>
     
    <div class="social-link"> <a href="https://www.linkedin.com/in/muhammad-emon-hasan-2b3677246/" > Linkedin  </a> </div>
    <div class="social-link"> <a href="https://www.facebook.com/emonhasan.emon.395?mibextid=kFxxJD" > Facebook  </a> </div>
    <div class="social-link"> <a href="https://github.com/Emon51" > Github  </a> </div>
    
</div>
{% endblock %}