


{% extends 'html/base.html' %}

{% block content %} 

<div class="about-me">
    <h3> Projects </h3> <hr>
    <p class="preject-text"> 
        <ul>
            <li>
                <a class="project-link" href="https://github.com/emon51/django_portfolio_project"> Personal Portfolio Project </a>
            </li>
                
            <li>
                <a class="project-link" href="https://github.com/emon51/django_blogging_project"> Blogging Website</a> 
            </li>

            <li>
                <a class="project-link" href="https://github.com/emon51/Online-Learning-Platform"> Online Learning Platform </a>
            </li>
        </ul>
        
        
        
    </p>
</div>

{% endblock %}






<!-- <a href="/home"> Home </a>-->

